/* General Styles for Terms and Privacy Policy Pages */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #e8491d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header and Footer Styles */
header {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
